@font-face {
    font-family: 'Regular';
    src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2');
}


@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2');
}



body {
    font-family: 'Regular', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bold', sans-serif !important;
}